:root {
  /* dark theme */
  --dark-bg-color: #333;
  --dark-font-color: #ccc;
  --dark-calculator-color: #555;
  --dark-calculator-border-color: #222;
  --dark-screen-color: #333;
  --dark-button-color: #333;
  --dark-button-hover-color: #444;
  --dark-button-hover-font-color: #eee;

  /* light theme */
  --light-bg-color: #ccc;
  --light-font-color: #333;
  --light-calculator-color: #aaa;
  --light-calculator-border-color: #ddd;
  --light-screen-color: #ccc;
  --light-button-color: #ccc;
  --light-button-hover-color: #bbb;
  --light-button-hover-font-color: #111;

  /* current values */
  --bg-color: var(--dark-bg-color);
  --font-color: var(--dark-font-color);
  --calculator-color: var(--dark-calculator-color);
  --calculator-border-color: var(--dark-calculator-border-color);
  --screen-color: var(--dark-screen-color);
  --button-color: var(--dark-button-color);
  --button-hover-color: var(--dark-button-hover-color);
  --button-hover-font-color: var(--dark-button-hover-font-color);
}

* {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
  font-family: monospace;
  font-size: 1rem;
  line-height: 1;
}

#outer {
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--bg-color);
  color: var(--font-color);
}

#inner {
  width: 50%;
  max-width: 40rem;
  height: fit-content;

  box-shadow: 0.2rem 0.2rem var(--calculator-border-color);
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  padding: 2rem;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  -ms-flex-direction: column;
  row-gap: 2rem;

  background-color: var(--calculator-color);
}

#screen {
  width: 100%;
  height: 5rem;
  min-height: fit-content;

  padding: 1rem;

  display: flex;
  flex-direction: column;
  -ms-flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;

  background-color: var(--screen-color);
}

#result {
  max-width: 100%;
  font-size: 1.5rem;
}

#current {
  max-width: 100%;
}

#buttons {
  width: 100%;

  display: flex;
  gap: 1rem;
}

#numbers,
#operations {
  width: 20%;
  height: fit-content;

  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

.button {
  width: fit-content;
  min-width: 3rem;
  height: fit-content;
  min-height: 3rem;

  padding: 0.9rem;
  border: 0.1rem solid transparent;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  box-shadow: 0.1rem 0.1rem #111;

  text-align: center;
  background-color: var(--button-color);
}

.button:hover {
  background-color: var(--button-hover-color);
  color: var(--button-hover-font-color);
  transition: all linear 0.15s;
  -webkit-transition: all linear 0.15s;
  -moz-transition: all linear 0.15s;
  -ms-transition: all linear 0.15s;
  -o-transition: all linear 0.15s;
}

.button:active {
  border-left: 0.1rem solid black;
  border-top: 0.1rem solid black;
  border-right: 0.1rem solid white;
  border-bottom: 0.1rem solid white;
  transition: all linear 0.15s;
  -webkit-transition: all linear 0.15s;
  -moz-transition: all linear 0.15s;
  -ms-transition: all linear 0.15s;
  -o-transition: all linear 0.15s;
}
